html{
  font-family: sans-serif;


}

body{
  font-family: "Open Sans", Helvetica, sans-serif;

   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    padding: 0px;
}

h1{
  font-weight: 400;
}
